@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
* {
     box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'Josefin Sans', sans-serif;
    width: 100%;
    height: 100%;
    background: #333;
    color: white;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#splashScreen {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #333;
}

#logoImg {
    width: 80px;
    height: 80px;
    margin: auto;
}

#welcomeScreen {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #333;
}
#homeScreen {
    width: 100%;
    height: 100%;
    color: #fff;
    background: #333;
}
#chatWindowScreen {
    display: none;
    width: 100%;
    background: #333;
    color: #fff;
}

#headDiv {
    height: 55px;
    position: relative;
    top: 0;
    width: 100%;
    padding: 0 8px 0 8px;
    display: flex;
    align-items: center;
}
#headDiv #logo {
    height: 45px;
    width: 45px;
}
#homeBody {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    box-sizing: content-box;
}
#search-box {
    min-height: 30px;
    color: #fff;
    align-self: center;
    width: calc(100% - 15px);
    height: 30px;
    background: #212121;
    border: 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    outline: none;
    text-align: center;
    transition: text-align 0.3s ease;
}
#search-box:focus{
    text-align: left;
    transition: text-align 0.3s ease;
}
#global-chaf-btn {
    align-self: center;
    width: calc(100% - 15px);
    height: 50px;
    background: #2096F3;
    border: 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    color: #fff;
    padding-left: 15px;
}
#inputName {
    height: 50px;
    outline: none;
    border: 1px solid #4E6D98;
    border-radius: 30px;
    transition: border-color 0.3s;
    width: 300px;
    padding-left: 10px;
    font-size: 17px;
    background: #333;
    color: white;
}

#inputName:focus {
    border-color: #2096F3;
}

button {
    width: 100px;
    height: 50px;
    border: 0;
    border-radius: 30px;
    background: #2096F3;
    margin-top: 10px;
    font-size: 20px;
    cursor: pointer;
    color: white;
    outline: none;
}

button:hover {
    background: white;
    color: #2096F3;
    border: 1px solid #2096F3;
}

.active {
    background: #2096F3;
}

#aboutDiv {
    height: 50px;
    width: 100%;
    background: #333;
    display: flex;
    align-items: center;
    position: fixed;
}

#globalMessagesDiv {
    width: 100%;
    height: calc(100vh - 105px);
    background: #333;
    padding-top: 35px;
    padding-left: 10px;
    overflow-y: auto;
    padding-bottom: 45px;
    padding-right: 10px;
}

#inputDiv {
    width: 100%;
    height: 55px;
    background: #333;
    position: fixed;
    bottom: 0;
    display: flex;
}

#aboutDiv #logo {
    width: 45px;
    height: 45px;
    margin-left: 10px;
}

#aboutDiv span {
    flex: 1;
}

#accInfo {
    min-width: 80px;
    max-width: 200px;
    height: 40px;
    background: #212121;
    border: 0;
    border-radius: 25px;
    cursor: pointer;
    outline: none;
    margin-left: 5px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
}

#accInfo p {
    font-size: 16px;
    margin-left: 5px;
}

#accInfo i {
    font-size: 16px;
}

.modeBack {
    font-size: 16px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    background: #333;
    border: none;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: none;
}

.modeBack:hover {
    background: #212121;
}

#installAppBtn {
    min-width: 100px;
    height: 40px;
    background: #2096F3;
    border: 0;
    border-radius: 25px;
    cursor: pointer;
    outline: none;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#installTxt {
    font-size: 16px;
    color: white;
}

#inputTextBack {
    display: flex;
    align-items: center;
    padding-left: 10px;
    width: 70%;
}

#iconsDivBack {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
    width: 30%;
}

.sendBtnBack {
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 30px;
    background: #2096F3;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#uploadBtn {
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 30px;
    background: #212121;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}

.material-icons {
    color: white;
    font-size: 25px;
}

#msgInput {
    height: 45px;
    outline: none;
    border: 2px solid #4E6D98;
    border-radius: 30px;
    transition: border-color 0.3s;
    width: 100%;
    padding-left: 10px;
    font-size: 17px;
    background: #333;
    color: white;
}

#msgInput:focus {
    border-color: #2096F3;
}

.activeBtn {
    width: 45px;
    height: 45px;
    border: none;

    border-radius: 30px;
    background: #2096F3;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message_container {
    width: 100%;
    display: inline-block;
    margin-bottom: 0px;

}

.message_inner_container {
    width: 100%;
    display: inline-block;
    color: #333;
}

.message_user_container {
    width: 100%;
    display: inline-block;
}

.message_user {
    font-weight: bold;
    font-size: 14px;
    color: white;
}

.message_content_container {
    width: 100%;
    display: inline-block;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.message_content {
    font-weight: normal;
    font-size: 14px;
    margin-top: 5px;
    color: white;
}

#activeUsers {
    min-width: 80px;
    height: 40px;
    background: #212121;
    border: 0;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 25px;
    cursor: pointer;
    outline: none;
    margin-right: 10px;
    display: none;
    justify-content: center;
    align-items: center;
}
#activeUsersCount {
    font-size: 16px;
    color: white;
    margin-left: 7px;
}

#bottomSheetContainer {
    display: none;
    width: 100%;
    height: 100vh;
    background: #000;
    opacity: 0.4;
    z-index: 1;
    position: fixed;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

#bottom-sheet {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    opacity: 0;
    pointer-events: none;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    transition: 0.1s linear;
}

#bottom-sheet.show {
    opacity: 1;
    pointer-events: auto;
}

#bottom-sheet #sheet-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background: #000;
}

#bottom-sheet #content {
    box-sizing: border-box;
    background: #333;
    height: 60vh;
    max-height: 100vh;
    padding: 25px 10px;
    width: 100%;
    max-width: 1100px;
    border-radius: 12px 12px 0 0;
    position: relative;
    transform: translateY(100%);
    transition: 0.3s ease;
}

#bottom-sheet.show #content {
    transform: translateY(0%);
}

#bottom-sheet #header {
    display: flex;
    justify-content: center;
}

#bottom-sheet #drag-icon {
    cursor: grab;
    user-select: none;
    padding: 15px;
    margin-top: -15px;
}

#bottom-sheet #drag-icon span {
    height: 4px;
    width: 40px;
    display: block;
    background: #C7D0E1;
    border-radius: 50px;
}

#bottom-sheet #body {
    overflow-y: auto;
    height: 100%;
    color: white;
    width: 100%;
    padding: 0 0 40px;
    scrollbar-width: none;
}

#bottom-sheet #body::-webkit-scrollbar {
    width: 0;
}

#bottom-sheet #body h2 {
    font-size: 1.8rem;
}

#bottom-sheet #body p {
    font-size: 1.05rem;
    margin-top: 10px;
}

#bottom-sheet #body li {
    background: #2c2c2c;
    width: 90%;
    color: white;
    margin: 0 auto 0;
    height: 40px;
    padding: 0 10px 0;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

#greenCircle {
    width: 7px;
    height: 7px;
    background: green;
    border: 0;
    border-radius: 30px;

}
#globalChatTxt {
    color: #fff;
    font-size: 16px;
    
}
.userItem {
    display: flex;
    align-items: center;
    margin-top: 10px;
    background: #212121;
    border-radius: 30px;
}

.userImg {
    width: 40px;
    height: 40px;
    margin-left: 5px;
    border-radius: 50%;
    margin-right: 10px;
}

.userInfo {
    display: flex;
    flex-direction: column;
}
.loading-box {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.loader {
    width: 30px;
    height: 30px;
    display: inline-block;
    position: relative;
}
.loader::after,
.loader::before {
    content: '';
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: grey;
    position: absolute;
    left: 0;
    top: 0;
    animation: animloader 2s linear infinite;
}
.loader::after {
    animation-delay: 0s;
}
#aboutDiv {
    height: 50px;
    width: 100%;
    background: #333;
    display: flex;
    align-items: center;
    position: fixed;
    box-sizing: content-box;
}
#messageDiv {
    width: 100%;
    height: calc(100vh - 105px);
    background: #333;
    padding-top: 35px;
    padding-left: 10px;
    overflow-y: auto;
    padding-bottom: 45px;
    padding-right: 10px;
}
#chatScreen #inputDiv {
    width: 100%;
    height: auto;
    background: #333;
    position: fixed;
    padding: 0px 8px 8px 8px;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
#homeScreen {
    width: 100%;
    height: 100%;
    background: #333;
}
#usernameTxt {
    color: #fff;
    font-size: 20px;
    padding-left: 10px;
}
#profilePic {
    width: 40px;
    height: 40px;
}

#inputBack {
    width: 85%;
    background: #212121;
    border-radius: 10px;
    padding: 0 5px 0 5px;
    display: flex;
    align-items: center;
}
#emojiBack {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #212111;
}
#emojiBack:hover {
    background: #333;
}
#messageText {
    width: 100%;
    max-height: 120px;
    resize: none;
    outline: none;
    padding: 15px 8px 15px 8px;
    text-decoration: none;
    font-size: 16px;
    border: none;
    color: #fff;
    background: none;
}
#chatScreen #sendBtn {
    width: 40px;
    height: 40px;
    background: #2096F3;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#chatScreen #sendBtn i {
    color: #fff;
}
.chat-list-container {
    margin-top: 10px;
    width: 100%;
    height: 60px;
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
    background: #333;
    color: #fff;

}
.chat-list-container:hover {
    background: #212121;
}
.profile-container {
    width: 60px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-pic {
    width: 80%;
    height: 80%;
}
.info-container {
    width: calc(100% - 60px);
    max-height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 7px 0 7px 5px;
}

.name-container, .message-container {
    flex: 1;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.name-container {
    font-size: 16px;
    font-weight: 600;
}
.message-container {
    font-size: 14px;
}

#messageDiv .chat {
    box-sizing: content-box;
}
#messageDiv .chat p {
    word-wrap: break-word;
    padding: 8px 16px;
    box-sizing: content-box;
}
#messageDiv .outgoing {
    display: flex;
    box-sizing: content-box;
}
.outgoing .details {
    max-width: 200px;
    margin: 0 0 0 auto;
    padding: 0;
    box-sizing: content-box;
}
.outgoing .details p {
    background: #212121;
    color: #fff;
    border-radius: 18px 18px 0 18px;
    box-sizing: content-box;
}
#messageDiv .incoming {
    display: flex;
    align-items: flex-end;
    box-sizing: content-box;
}
#messageDiv .incoming img {
    width: 35px;
    height: 35px;
    box-sizing: content-box;
}
.incoming .details {
    margin-left: 10px;
    margin-right: auto;
    max-width: 200px;
    box-sizing: content-box;
}
.incoming .details p {
    color: #fff;
    background: #2096F3;
    border-radius: 18px 18px 18px 0;
    box-sizing: content-box;
}

@keyframes animloader {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}
@media only screen and (min-width: 768px) {
    #homeScreen {
        background: #333;
        width:;
        flex: 1;
    }
    #globalChatTxt {
        color: #fff;
        font-size: 16px;
        padding-left: 10px;
    }
    #chatWindowScreen {
        background: #333;
        width:;
        flex: 2;
        display: block;
    }
    #noChatWindow{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
    #aboutDiv {
        position: relative;
        top: 0;
    }
    #globalMessagesDiv {
        padding-top: 0;
    }
    #chatWindowScreen #inputDiv {
        width: 65%;
    }
        #noChatOpenedBodyTxt{
    color: grey;
    text-align: center;
    
}
    #inputTextBack {
        display: flex;
        align-items: center;
        padding-left: 10px;
        width: 85%;
    }

    #iconsDivBack {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 auto 0 auto;
        width: 15%;
    }
}