@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined', sans-serif;
    font-size: 25px;
    margin: none;
    padding: none;
    
}

* {
    box-sizing: border-box;
}

html {
    scroll-behaviour: smooth;
    font-family: 'Josefin Sans', sans-serif;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    
}

#backBtn {
    width: 40px;
    cursor: pointer;
    height: 40px;
    border-radius: 30px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: none;
}

#backBtn:hover {
    background: #f1f1f1;
}

#splashScreen {
    width: 100%;
    height: 100%;
   /* display: flex;
    justify-content: center;
    align-items: center;*/
    background: #fff;
}
#logoImg {
    width: 80px;
    height: 80px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#welcomeScreen {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
}
#inputName {
    height: 50px;
    outline: none;
    border: 1px solid grey;
    border-radius: 30px;;
    transition: border-color 0.3s;
    width: 300px;
    padding-left: 10px;
    font-size: 17px;
}
#inputName:focus {
    border-color: #2096F3;
}
button {
    width: 100px;
    height: 50px;
    border: 0;
    border-radius: 30px;
    background: skyblue;
    margin-top: 10px;
    font-size: 20px;
    cursor: pointer;
    color: white;
    outline: none;
}
button:hover {
    background: white;
    color: #2096F3;
    border: 1px solid #2096F3;
}
.active {
    background: #2096F3;
}
#aboutDiv {
    height: 50px;
    width: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    position: fixed;
}
#globalMessagesDiv {
    width: 100%;
    height: calc(100vh - 105px);
    background: #fff;
    padding-top: 35px;
    padding-left: 10px;
    overflow-y: auto;
    padding-bottom: 45px;
    padding-right: 10px;
}
#inputDiv {
    width: 100%;
    height: 55px;
    background: #fff;
    position: fixed;
    bottom: 0;
    display: flex;

}
#homeScreen {
    width: 100%;
    height: 100%;
    background: #fff;
}
#chatWindowScreen {
    display: none;
    width: 100%;

    background: #fff;
}

#headDiv {
    height: 60px;
    position: relative;
    width: 100%;
    padding: 0 8px 0 8px;
    display: flex;
    align-items: center;
}
#headDiv #logo {
    height: 45px;
    width: 45px;

}
#headDiv h2 {
    margin-left: 10px;
}
#headDiv span {
    flex: 1;
}
#headDiv img {
    height: 45px;
    width: 45px;
}
#homeBody {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 8px 0 8px;
}
#search-box {
    min-height: 30px;
    align-self: center;
    width: calc(100% - 15px);
    height: 30px;
    background: #f1f1f1;
    border: 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    outline: none;
    text-align: center;
    transition: text-align 0.3s ease;
}
#search-box:focus {
    text-align: left;
    transition: text-align 0.3s ease;
}
#global-chaf-btn {
    align-self: center;
    width: calc(100% - 15px);
    height: 50px;
    background: #2096F3;
    border: 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    color: #fff;
    padding-left: 15px;
}
#userList {
    width: 100%;
    height: 100%;
}

#aboutDiv span {
    flex: 1;
}
#accInfo {
    min-width: 80px;
    max-width: 150px;
    height: 40px;
    background: #f1f1f1;
    border: 0;
    border-radius: 25px;
    cursor: pointer;
    outline: none;
    margin-left: 5px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
}
#accInfo p {
    font-size: 16px;
    margin-left: 5px;
}
#accInfo i {
    font-size: 16px;
}
.modeBack {
    font-size: 16px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    background: #fff;
    border: none;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: none;
}
.modeBack:hover {
    background: #f1f1f1;
}

#inputTextBack {
    display: flex;
    align-items: center;
    padding-left: 10px;
    width: 70%;

}

#iconsDivBack {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
    width: 30%;
}
.sendBtnBack {
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 30px;
    background: skyblue;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#uploadBtn {
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 30px;
    background: #f1f1f1;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}

.material-icons {
    color: white;
    font-size: 25px;
}
#msgInput {
    height: 45px;
    outline: none;
    border: 2px solid grey;
    border-radius: 30px;;
    transition: border-color 0.3s;
    width: 100%;
    padding-left: 10px;
    font-size: 17px;
}
#msgInput:focus {
    border-color: #2096F3;
}
.activeBtn {
    width: 45px;
    height: 45px;
    border: none;
    margin-left: 5px;
    border-radius: 30px;
    background: #2096F3;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.message_container {

    width: 100%;

    display: inline-block;

    margin-bottom: 0px;



}

.message_inner_container {

    width: 100%;

    display: inline-block;


    color: #1D3354;

}

.message_user_container {

    width: 100%;

    display: inline-block;

}

.message_user {

    font-weight: bold;

    font-size: 14px;

}

.message_content_container {

    width: 100%;

    display: inline-block;


    white-space: pre-wrap;

    word-wrap: break-word;

}

.message_content {


    font-weight: normal;

    font-size: 14px;

    margin-top: 5px;

}

#activeUsers {
    min-width: 80px;
    height: 40px;
    background: #f1f1f1;
    border: 0;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 25px;
    cursor: pointer;
    outline: none;
    margin-right: 10px;
    display: none;
    justify-content: center;
    align-items: center;
}
#activeUsersCount {
    font-size: 16px;
    color: black;
    margin-left: 7px;
}

#bottomSheetContainer {
    display: none;
    width: 100%;
    height: 100vh;
    background: #000;
    opacity: 0.2;
    z-index: 1;

    position: fixed;
    bottom: 0;
    left: 0;
    overflow: hidden;
}
#bottom-sheet {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    opacity: 0;
    pointer-events: none;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    transition: 0.1s linear;
}
#bottom-sheet.show {
    opacity: 1;
    pointer-events: auto;
}
#bottom-sheet #sheet-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background: #000;
}
#bottom-sheet #content {
    box-sizing: border-box;
    background: white;
    height: 60vh;
    max-height: 100vh;
    padding: 25px 10px;
    width: 100%;
    max-width: 1100px;
    border-radius: 12px 12px 0 0;
    position: relative;
    transform: translateY(100%);
    transition: 0.3s ease;
}
#bottom-sheet.show #content {
    transform: translateY(0%);

}
#bottom-sheet #header {
    display: flex;
    justify-content: center;

}
#bottom-sheet #drag-icon {
    cursor: grab;
    user-select: none;
    padding: 15px;
    margin-top: -15px;
}
#bottom-sheet #drag-icon span {
    height: 4px;
    width: 40px;
    display: block;
    background: #C7D0E1;
    border-radius: 50px;
}
#bottom-sheet #body {
    overflow-y: auto;
    height: 100%;
    width: 100%;
    padding: 0 0 40px;
    scrollbar-width: none;
}
#bottom-sheet #body::-webkit-scrollbar {
    width: 0;
}
#bottom-sheet #body h2 {
    font-size: 1.8rem;
}
#bottom-sheet #body p {
    font-size: 1.05rem;
    margin-top: 10px;
}

#bottom-sheet #body li {
    background: #f2f2f2;
    width: 90%;
    margin: 0 auto 0;
    height: 40px;
    padding: 0 10px 0;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    border-radius: 10px;

}

#greenCircle {
    width: 7px;
    height: 7px;
    background: green;
    border: 0;
    border-radius: 30px;

}

#toast-container {
    position: fixed;
    bottom: 16px;
    right: 16px;
    max-width: 300px;
    background-color: #333;
    color: #fff;
    padding: 16px;
    border-radius: 8px;
    display: none;
    z-index: 3;
}
#globalChatTxt {
    color: #000;
    font-size: 16px;
    padding-left: 10px;
}
.userItem {
    display: flex;
    align-items: center;
    margin-top: 10px;
    background: #f1f1f1;
    border-radius: 30px;

}

.userImg {
    width: 40px;
    height: 40px;
    margin-left: 5px;
    border-radius: 50%;
    margin-right: 10px;
}

.userInfo {
    display: flex;
    flex-direction: column;
}

.loading-box {
    
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader {
    width: 30px;
    height: 30px;
    display: inline-block;
    position: relative;
}
.loader::after,
.loader::before {
    content: '';
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: grey;
    position: absolute;
    left: 0;
    top: 0;
    animation: animloader 1.5s linear infinite;
}
.loader::after {
    animation-delay: 0s;
}

@keyframes animloader {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}
.loading-box span {
    margin-left: 5px;
}
#noChatListDiv {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#noChatListDiv span{
    font-size: 50px;
    color: grey;
}
#aboutDiv {
    height: 50px;
    width: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    position: fixed;
}
#messageDiv {
    width: 100%;
    height: calc(100vh - 105px);
    background: #fff;
    padding-top: 35px;
    padding-left: 10px;
    overflow-y: auto;
    padding-bottom: 45px;
    padding-right: 10px;
}
#inputDiv {
    width: 100%;
    height: 55px;
    background: #fff;
    position: fixed;
    bottom: 0;
    display: flex;

}
#homeScreen {
    width: 100%;
    height: 100%;
    background: #fff;
}
#usernameTxt {
    color: #000;
    font-size: 16px;
    padding-left: 10px;
}
#profilePic{
    width: 40px;
    height: 40px;
}
@media only screen and (min-width: 768px) {
    body{
        display: flex;
    }
    #homeScreen {
        width:;
        flex: 1;
        position: relative;
    }
    #chatScreen{
        padding-left: 10px;
    }
    #globalChatScreen {
        padding-left: 10px;
    }
    #globalChatTxt {
        color: #000;
        font-size: 16px;
        padding-left: 10px;
        margin: auto 0;
    }
    #chatWindowScreen {
        width:;
        flex: 2;
        display: block;
    }
    #noChatWindow {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    #aboutDiv {
        position: relative;
        padding-left: 10px;
        top: 0;
    }
    #globalMessagesDiv {
        padding-left: 10px;
        padding-top: 0;
    }
    #chatWindowScreen #inputDiv {
        width: 65%;
    }
    #noChatOpenedBodyTxt {
        color: grey;
        text-align: center;

    }
    #inputTextBack {
        display: flex;
        align-items: center;
        padding-left: 10px;
        width: 85%;
    }

    #iconsDivBack {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 auto 0 auto;
        width: 15%;
    }
}